# This is a basic workflow to help you get started with Actions

name: Publishing

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      name:
        description: Version number
      message:
        required: true
      environment:
        type: environment

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo Hello, world!  ${{ secrets.TEST }} and ${{ github.event.inputs.name }}

      - name: Install dependencies
        run: npm install -g terser
          npm install -g clean-css
          npm install -g clean-css-cli
                
      - name: Packaging 
        run: ./packaging.sh 1.5.3
          
